extends layout

block content
    h1.mt-3 Login
    form(method='POST', action='/users/login')
        #form-group.pt-4
            label Username:
            input.form-control(name='username' type="text")
        #form-group.pt-4
            label Password:
            input.form-control(name='password' type="password")
        input.btn.btn-primary.mt-5(type='submit', value='Login')